<h3>Users</h3>
<hr/>
<div class="jumbotron" >
	<table ng-show="users.length > 0" class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Telephone Number</th>
			<th>Email</th>
			<th>Gender</th>
			<th>Actions</th>
		</tr>
		<tr ng-repeat="user in users">
			<td>{{user.name}}</td>
			<td>{{user.telephone_number}}</td>
			<td>{{user.email}}</td>
			<td>{{user.gender}}</td>
			<td>
				<button class="btn btn-primary" ng-click="updateUser(user.id)">update</button>
				<button class="btn btn-danger" ng-click="deleteUser(user.id)">delete</button>
			</td>
		</tr>
	</table>

</div>